aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
desktop-effects
desktop-effects.desktop
install-sh
intltool-*.in
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
*~
*.gladep
*.bak
*.o
.deps
.libs
